
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>price</th>
            <th>color</th>
            <th>size</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products let i = index">
            <td>{{item.name}}</td>
            <td><img width="100" height="100" [src]="item.imageUrl" [alt]="item.name"></td>
            <td> <span>₹</span>{{item.price}}</td>
            <td>{{item.color}}</td>
            <td>{{item.size}}</td>
            <button (click)="removeItem(i)">Remove</button>
        </tr>
    </tbody>
</table>
<form>
    <button (click)="addValueToArray()">Add to Array</button>
  </form>
<div style="padding-left:16px; margin-top: 50px;">
</div> 